<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

	<servlet>
		<servlet-name>TileServlet-Hubs</servlet-name>
		<servlet-class>org.trillinux.ipheatmap.server.TileServlet</servlet-class>
		<init-param>
			<param-name>ipDir</param-name>
			<param-value>/home/rafael/crawler/hubs</param-value>
		</init-param>
		<init-param>
			<param-name>cacheDir</param-name>
			<param-value>/home/rafael/crawler/tile-cache/hubs</param-value>
		</init-param>
		<init-param>
			<param-name>labelFile</param-name>
			<param-value>/home/rafael/crawler/network-labels.txt</param-value>
		</init-param>
<!-- 		<init-param> -->
<!-- 			<param-name>cache</param-name> -->
<!-- 			<param-value>false</param-value> -->
<!-- 		</init-param> -->
	</servlet>

	<servlet-mapping>
		<servlet-name>TileServlet-Hubs</servlet-name>
		<url-pattern>/tile/hubs/*</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>TileServlet-Leaves</servlet-name>
		<servlet-class>org.trillinux.ipheatmap.server.TileServlet</servlet-class>
		<init-param>
			<param-name>ipDir</param-name>
			<param-value>/home/rafael/crawler/leaves</param-value>
		</init-param>
		<init-param>
			<param-name>cacheDir</param-name>
			<param-value>/home/rafael/crawler/tile-cache/leaves</param-value>
		</init-param>
		<init-param>
			<param-name>labelFile</param-name>
			<param-value>/home/rafael/crawler/network-labels.txt</param-value>
		</init-param>
<!-- 		<init-param> -->
<!-- 			<param-name>cache</param-name> -->
<!-- 			<param-value>false</param-value> -->
<!-- 		</init-param> -->
	</servlet>

	<servlet-mapping>
		<servlet-name>TileServlet-Leaves</servlet-name>
		<url-pattern>/tile/leaves/*</url-pattern>
	</servlet-mapping>
</web-app>